node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv
.env

# Django
*.log
media/
staticfiles/

# VS Code
.vscode/

# Docker
postgres_data/
*.pid

# OS files
.DS_Store
# Credentials / Keys
google-vision-key.json
